<div class="view-head">
	<span class="pull-left back-btn"><i class="ion-arrow-left-c ion-3"></i></span>
	<div class="view-heading">
		<h3>Add Client</h3>
	</div>	
</div>
<div class="row">
	<form>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body">
					<div class="form-group boxed-form-field">
						<select name="" class="form-field form-control">
							<option>Bike Name</option>
						</select>
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Client Name" name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Pick-up Date" name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Driving Licence no." name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span class="pull-left" id="form-gps">GPS</span>
					</div>
				</div>
			</div>			
		</div>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body">
					<div class="form-group boxed-form-field">
						<select name="" class="form-field form-control">
							<option>Bike Number Plate</option>
						</select>
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Mobile Number" name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Return Date" name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Aadhar Card no" name="" class="form-field form-control">
					</div>
					<div class="form-group boxed-form-field">
						<span></span>
						<input type="text" placeholder="Personal Note for your reference" name="" class="form-field form-control">
					</div>
				</div>
			</div>			
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 boxed-btn">
					<input class="btn dark-white" type="reset" value="CANCEL">
				</div>
				<div class="col-md-6 boxed-btn">
					<input class="btn yellow" type="submit" value="SAVE">
				</div>
			</div>
		</div>
	</form>	
</div>