<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>BIKE</th>
					<th>CLIENT</th>
					<th>RETURN</th>
					<th>GPS</th>
					<th></th>
				</tr>						
			</thead>
			<tbody>
				<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,0]">
					<td class="tcheckbox"><input type="checkbox" name="{{i}}"></td>
					<td class="star"><i class="ion-android-star-outline ion-5"></i></td>
					<td>Avanger</td>
					<td>aklsdfh askjdf</td>
					<td>9th Feb 2016</td>
					<td></td>
					<td><span class="round"><i class="ion-ios-arrow-right"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>