/**
 * background color
 */
 body{background: #f8f8f8;}
.yellow{ background: #f6bb54 }
.orange{ background: #ea6c57 }
.pink{ background: #a53d5c }
.brown{ background: #643452 }
.dark-white{background: #ddd;}
.ion-3{font-size: 26px;}
.ion-5{font-size: 20px;}
.round{ cursor:pointer; border: solid 1.5px #ddd; border-radius: 11px; display: block; height: 22px; width: 22px; text-align: center; color: #aaa; font-weight: bold; font-size: 14px;}

/**
 *
 */
.half{width: 50%; float: left;}

/** 
 * bootstrap tooltip color change
 */
.tooltip.top .tooltip-inner { background-color:#ddd; color: #333;}
.tooltip.top .tooltip-arrow {border-top-color: #ddd; color: #333;}

.main-header{ z-index: 2000; position: fixed; top:0; width: 100%; height: 100px; background: #311732}
.main-header .user-image{ text-align: center; width: calc(100% - 250px); float: right;}
.main-header .user-image img{position: relative; top: 31px; right:50px;}

.sidebar{position: fixed; width:200px; height: calc(100% - 100px); top:100px;}
.sidebar ul{list-style: none; padding: 0; margin:0; height: 100%;}
.sidebar ul li{ display: block; width: 100%; height:25%; color: #ffffff; text-align: center; text-transform: uppercase;}
.sidebar ul li a{color: #fff; display: block; padding: 20% 0; font-weight: bold}
.sidebar ul li span{ clear: both; display: block; font-size: 15px }
.sicon i{ font-size: 32px; margin-bottom: 5px; }
.cmhead{position: fixed; width: calc(100% - 250px); z-index: 1000; right: 0; background: #f8f8f8; top: 100px; padding-top: 50px; padding-bottom: 20px;}
.main-wrapper{position: relative; margin-top: 215px; margin-left: 220px; float: left; width: calc(100% - 220px);}
.top-links{ float: left; display: inline-block;}
.top-links ul{ list-style: none; }
.top-links ul li{ display: inline-block; }
.top-links ul li a{ display: block; padding: 0 10px; font-size: 24px; color: #acaaaa; }
.top-links ul li a:hover{color: #b22}
.search-form-wrap{float: right; display: inline-block;}
.search-form .search-wrap{border: solid 2px #ddd; border-radius: 15px; margin-right: 50px}
.search-form button{ border: 0; background: transparent; float: right; font-size: 18px; height: 32px; padding-right: 10px; color: #aaa}
.search-form .search-input{ border: 0; border-radius: 15px; padding: 5px 0 5px 15px; background: #f8f8f8;}
.search-form .search-input:focus, .search-form button:focus{border:0; outline: none;}
.user-info{position: relative; text-align: center; overflow: hidden;}
.user-info h3{ margin-top: 5px; margin-bottom: 0; text-transform: uppercase; font-size: 16px; font-weight: bold; color:#111;}
.user-info small{ color: #aaa; font-size: 12px; font-weight: bold; }

/** main **/
.main{ margin: 10px 40px;background: #fff; padding: 20px 20px 0 20px;}
.view-head{margin-bottom: 20px;}
.view-heading{ text-align: center;}
.back-btn{ position: relative; top: -10px;}
.view-heading h3{ margin: 0; position: relative; right: 50px; text-transform: uppercase; font-weight: bold; font-size: 18px;}

/** form **/
form .panel, form .panel-body{ padding-bottom: 0;}
.boxed-form-field input, .boxed-form-field input:focus, .boxed-form-field select, .boxed-form-field select:focus{border-color: #e6ab44; outline: none; padding:3px 20px; line-height: 2; height: 40px; font-size: 16px}
.boxed-form-field input:focus{-webkit-box-shadow: inset 0 1px 1px rgba(174,170,64,.75); box-shadow: inset 0 1px 1px rgba(174,170,64,.75);}
.boxed-btn{padding: 0;}
.boxed-btn input{width: 100%; height:50px; color:#333; font-weight: bold; border:0; border-radius: 0;}
.boxed-btn input:focus, .boxed-btn input:active{outline: none !important; border:0 !important;}

#form-gps{font-size: 20px; padding-left:20px; font-weight: bold}


/**
 * table 
 */
table td.tcheckbox{width: 20px;}
table td.star{padding: 4px 8px !important; width: 20px;}